
#banner {
	height: 75vh;
	background-image: url("../images/banner.jpg");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}